# Fichiers audio temporaires
*.tmp.mp3

# Fichiers de cache
.cache/
__pycache__/
*.py[cod]
*$py.class

# Dependencies
node_modules/
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

youtube_token.json
*token*
